<ion-view view-title="Area Personale" ng-load="seleziona()">
  <ion-content>
    <ion-item>
      <ion-label>
        {{benvenuto}}
      </ion-label>
    </ion-item>

      <center><h2>Le tue segnalazioni</h2></center>

    <ion-list>
      <ion-item ng-repeat="guasto in guasti">
      <div class="list">

    <a class="item item-thumbnail-left" href="">
      <img src={{guasto.img}}>
      <h2>{{guasto.titolo}}</h2>
      <h4>{{guasto.tipo}}</h4>
      <p>{{guasto.indirizzo}}</p>
      <p style="text-align: justify">{{guasto.descrizione}}</p>
    </a>
</div>
  </ion-item>
    </ion-list>
    <ion-item>


      <ion-item>
        <center>
          <div class="row">
            <div class="col"><ion-label>Titolo</ion-label></div>
            <div class="col"><ion-label>Tipo Guasto</ion-label></div>
           </div>
          <div class="row">

            <div class="col"><input placeholder="Titolo segnalazione"></div>
            <div class="col">
              <select>
              <option value="tipologia">Tipologia</option>
              <option ng-repeat="tipologia in tipologie" value={{tipologia.tipo}}>{{tipologia.tipo}}</option>
            </select></div>
          </div>
</center>
  </ion-item>

  <ion-item>
    <center><div class="col"><select>
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="opel">Opel</option>
      <option value="audi">Audi</option>
</select></div></Center>

  </ion-item>

  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label stacked>Phone</ion-label>
    <ion-input type="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Toggle</ion-label>
    <ion-toggle></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Checkbox</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>

      </ion-item>
  </ion-content>
</ion-view>
