<ion-view view-title="areaPersonale">
  <ion-content>
    <h1>areaPersonale</h1>
    <ion-item>
      <ion-label>
        qualcosa{{benvenuto}}
      </ion-label>
    </ion-item>

    <ion-list>

      <table>
      <tr>
      <td rowspan="3"; align=”center”><div style="">IMMAGINE</div></td>
      <td>Cella 2</td>
      <td>Cella 3</td>
      </tr>
      <tr>
      <td>Cella 5</td>
      <td>Cella 6</td>
      </tr>
      <tr>
      <td>Cella 8</td>
      <td>Cella 9</td>
      </tr>
      </table>

    </ion-list>
  </ion-content>
</ion-view>
