<ion-view view-title="Area Personale" ng-load="seleziona()">
  <ion-content>
    <ion-item>
      <ion-label>
        {{benvenuto}}
      </ion-label>
    </ion-item>

    <ion-list>
      <ion-item ng-repeat="guasto in select">
      <div class="list">

    <a class="item item-thumbnail-left" href="">
      <img src={{guasto.img}}>
      <h2>{{guasto.titolo}}</h2>
      <h4>{{guasto.tipo}}</h4>
      <p>{{guasto.indirizzo}}</p>
      <p style="text-align: justify">{{guasto.descrizione}}</p>
    </a>
</div>
  </ion-item>
    </ion-list>
    <ion-item>
        <ion-label color="primary">Inline Label</ion-label>
        <ion-input placeholder="Text Input"></ion-input>
      </ion-item>
  </ion-content>
</ion-view>
