<ion-view view-title="segnala">
  <ion-content>

    <ion-list>
      <form action="http://segnalazioneguasti.altervista.org/insert.php" method="POST" enctype="multipart/form-data">

        <input type="hidden" name="t" value="Guasto" required ></input>
        <input type="hidden" name="id_utente" value="{{isAuthenticated}}" required ></input>

        <ion-item>
          <ion-label color="primary">Titolo</ion-label>
          <input type="text" name="titolo" required></input>
        </ion-item>

        <label class = "item item-input item-select">
          <div class = "input-label">
            Tipologia
          </div>
          <select name="id_tipo" required>
            <option selected disabled>--Seleziona--</option>
            <option ng-repeat="tipologia in tipologie" value="{{tipologia.id_Tipologia}}">{{tipologia.tipo}}</option>
          </select>
        </label>

        <ion-item>
          <ion-label color="primary" >Descrizione</ion-label>
          <textarea class="description_textarea" name="descrizione" placeholder="Inserisci una descrizione"></textarea>
        </ion-item>

        <label class = "item item-input item-select">
          <div class = "input-label">
            Comune
          </div>
          <select name="id_comune" >
            <option selected disabled>--Seleziona--</option>
            <option ng-repeat="comune in comuni" value="{{comune.codice}}">{{comune.nome}}</option>
          </select>
        </label>

        <ion-item>
          <ion-label color="primary" stacked>Indirizzo</ion-label>
          <input type="text" name="indirizzo" placeholder="Esempio: Via Giuseppe Verdi 10" required></input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Allega un'immagine
            <label style="padding-left:20px">
              <label class="fileContainer">
                <i class="ion-images"></i>
                <input type="file" name="fileToUpload" id="fileToUpload">
              </label>
            <i class="ion-camera" style="padding-left:7px"></i>
          </label>
          </ion-label>

        </ion-item>

        <button class="button button-block button-positive" type="submit" onclick="location.replace('#/app/home.html')">Carica</button>
      </form>
    </ion-list>

  </ion-content>
</ion-view>
