/* Empty. Add your own CSS if you like */
.word-wrap{
  white-space: normal!important;
}
.no_border{
  border:none;
  margin-bottom: 0px;
}
.item-thumbnail-left{
  background-color: white!important;
  display: block;
  margin-right: auto;
}

.item:active{
background-color: grey!important;

}
.icona{
    display: block;
    margin-left: auto;
}
