/* Empty. Add your own CSS if you like */
.word-wrap{
  white-space: normal!important;
}
.no_border{
  border:none;
  margin-bottom: 0px;
}
.item-thumbnail-left:active{
background-color: #E5E4E2	!important;
  display: block;
  margin-right: auto;
}

.segn{
  padding-top: 10px
}

.icona{
    display: block;
    margin-left: auto;
}
